body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;  /* высота веб-страницы больше или равна высоте окна браузера */
	margin: 0;
}
.main-wrapper-container {
	flex: 1;
}
.header-background{
	background-repeat: repeat-x;
	min-height: 100px;
}
.header-background img{
	opacity: 0;
}
/* breadcrumbs */
.breadcrumbs {
	padding: 15px 0;
	border-bottom: 1px solid #eaeaea;
}
.breadcrumbs ul{
	overflow: hidden;
	margin: 0;
}
.breadcrumbs ul li{
	float: left;
}
.breadcrumbs ul li a{
	font-size: 12px;
	color: #808080;
}
.breadcrumbs ul li > span{
	font-size: 12px;
	color: #2b8cca;
}
.breadcrumbs ul li a:hover{
	color: #2b8cca;
}
.breadcrumbs ul li i{
	font-size: 11px;
	color: #2b8cca;
	margin-left: 5px;
	margin-right: 2px;
}

.left-sidebar {
	padding-top: 20px;
}
.content-wrapper{
	padding-top: 20px;
}
/* catalog item */
.content-wrapper h1{
	padding: 0 0 20px 9px;
	line-height: 1;
	margin: 0;
}
.content-wrapper h1:first-letter {
	text-transform: uppercase;
}

.content-wrapper .element-info{
	border: 1px solid #eaeaea;
	box-shadow: 0 2px 11px -5px #000;
	margin-bottom: 10px;
	display: -webkit-flex;
	display: flex;
}
@media screen and (max-width: 991px) {
	.content-wrapper .element-info{
		display: block;
	}
}

.content-wrapper .element-info .slider-block{
	border-right: 1px solid #eaeaea;
	padding: 15px;
}
.content-wrapper .element-info .slider-block .main-img{
	text-align: center;
}
.content-wrapper .element-info .slider-block .main-img img{
	max-width: 100%;
}

.content-wrapper .element-info .properties-block{
	padding: 15px 0;
}


.content-wrapper .element-info .item-price{
	border-bottom: 1px solid #eaeaea;
	padding: 0 15px 15px;
	margin-bottom: 15px;
}
.content-wrapper .element-info .item-price .price{
	background: #9ecf58;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2px;
	padding: 4px 8px 3px 7px;
	color: #fff;
	display: inline-block;
}
.content-wrapper .element-info .item-price .price i{
	font-size: 15px;
	font-weight: normal;
}
.content-wrapper .element-info .item-price .item-auction{
	font-size: 13px;
	color: #808080;
	background: #dedede;
	margin-left: 5px;
	position: relative;
	padding: 4px 9px;
	display: inline-block;
	top: -3px;
}

.content-wrapper .element-info .item-info-block div.specification{
	padding-left: 20px;
	margin-bottom: 15px;
}

.content-wrapper .element-info .item-info-block div.specification p{
	padding-left: 30px;
	background-position: left top;
	background-repeat: no-repeat;
	font-size: 15px;
	color: #666;
}

.content-wrapper .element-info .item-info-block div.item-vendor-name p{
	background-image: url('/bitrix/templates/moiogorod/images/catalog_icons/user_icon.png');
}
.content-wrapper .element-info .item-info-block div.item-vendor-phone p{
	background-image: url('/bitrix/templates/moiogorod/images/catalog_icons/phone_icon.png');
}
.content-wrapper .element-info .item-info-block div.item-vendor-city p{
	background-image: url('/bitrix/templates/moiogorod/images/catalog_icons/address_icon.png');
}
.content-wrapper .element-info .item-info-block div.item-amount p{
	background-image: url('/bitrix/templates/moiogorod/images/catalog_icons/weight_icon.png');
}
.content-wrapper .element-info .item-info-block div.item-quantity p{
	background-image: url('/bitrix/templates/moiogorod/images/catalog_icons/count_icon.png');
}

.content-wrapper .element-info .item-info-block div.item-distance-date {
	border-top: 1px solid #eaeaea;
	padding: 10px 10px 0;
	font-size: 13px;
	color: #808080;
}
.content-wrapper .element-info .item-info-block div.item-distance-date .date{
	float: right;
	padding: 2.3px 0;
}
.content-wrapper .element-info .item-info-block div.item-distance-date .distance {
	float: left;
	padding: 2.3px 0 2.3px 25px;
	background: url('/bitrix/templates/moiogorod/images/catalog_icons/location_icon.png') no-repeat left center;
}

.content-wrapper .element-info-bottom .slider-block{
	padding: 0;
}
.content-wrapper .element-info-bottom .slider-thumbnails{
	margin: 0;
	padding: 0;
}
.content-wrapper .element-info-bottom .slider-thumbnails li{
	float: left;
	list-style: none;
	margin: 0 17px 0 0;
	border: 1px solid #eaeaea;
	font-size: 0;
	box-shadow: 0 2px 10px -7px #000;
	width: 60px;
	text-align: center;
}
.content-wrapper .element-info-bottom .slider-thumbnails li img{
	max-width: 100%;
}
.content-wrapper .element-info-bottom .slider-thumbnails li:last-child {
	margin-right: 0;
}
.content-wrapper .element-info-bottom .feedback-block {
	text-align: center;
	padding-top: 20px;
}
.content-wrapper .element-info-bottom .feedback-block .btn{
	text-transform: uppercase;
	border-radius: 2px;
	background: #2b8cca;
	border: none;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 15px;
}

.content-wrapper .item-detail-text{
	margin-top: 30px;
	margin-bottom: 35px;
}
.content-wrapper .item-detail-text .detail-title{
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #eaeaea;
	font-size: 16px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #666;
}
.content-wrapper .item-detail-text .detail-content{
	font-size: 15px;
	color: #666;
}

/* reviews */
.reviews-block{
	font-size: 14px;
	color: #666;
}

.reviews-block form {
	border: 1px solid #eaeaea;
	box-shadow: 0 2px 11px -5px #000;
}

.reviews-block .reviews-title{
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #eaeaea;
	font-size: 16px;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #666;
}
.reviews-block .reviews-title a{
	color: #eaeaea;
}

.reviews-block form .form-title{
	overflow: hidden;
	padding: 15px 20px;
	border-bottom: 1px solid #eaeaea;
}
.reviews-block form .form-title .zagl{
	float: left;
}
.reviews-block form .form-title .stars {
	float: right;
}
.reviews-block form .form-body{
	padding: 15px 20px;
}
.reviews-block form .form-body .error{
	color: red;
}
.reviews-block form .stars i{
	color: #000;
	font-size: 20px;
	cursor: pointer;
}
.reviews-block form .stars i.active, .reviews-block form .stars i.active-click{
	color: #ffca29;
}
.reviews-block form textarea{
	width: 100%;
	min-height: 80px;
	resize: vertical;
	background: #eaeaea;
	padding: 13px 10px;
    border: none;
	border-radius: 2px;
	margin-bottom: 10px;
}
.reviews-block form textarea.with-quote{
	height: 250px;
}
.reviews-block form .btn{
	width: 100%;
	background: #9ecf58;
	color: #fff;
    font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
    border-radius: 2px;
	padding: 15px 0;
}


.reviews-block .reviews-list .review-item{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #666;
	font-size: 14px;
}
.reviews-block .reviews-list .review-item:last-of-type{
	border-bottom: none;
}
.reviews-block .reviews-list .review-item .title{
	overflow: hidden;
	margin-bottom: 10px;
	line-height: 1;
}
.reviews-block .reviews-list .review-item .title .user-name{
	float: left;
	font-weight: bold;
	font-size: 14px;
}
.reviews-block .reviews-list .review-item .title .stars {
	float: right;
}
.reviews-block .reviews-list .review-item .review-text {
	margin-bottom: 14px;
}
.reviews-block .reviews-list .review-item .review-text .with-quote {
	display: block;
	padding: 0 15px 15px;
	border: 1px solid #eaeaea;
}

.reviews-block .reviews-list .review-item .date-answer {
	overflow: hidden;
}
.reviews-block .reviews-list .review-item .date-answer .date{
	float: left;
}
.reviews-block .reviews-list .review-item .date-answer .answer-button{
	float: right;
	cursor: pointer;
}
.reviews-block .reviews-list .review-item .date-answer .answer:hover {
	text-decoration: underline;
}

.reviews-block .reviews-list .review-item p.review-text span.quote{
	display: block;
	border: 1px solid #eaeaea;
	padding: 0 15px 15px;
	margin-top: 15px;
	background: rgba(255, 255, 0, 0.1);
}
.reviews-block .reviews-list .review-item p.review-text span.answer {
	position: relative;
	display: block;
	padding-left: 15px;
}
.reviews-block .reviews-list .review-item p.review-text span.answer i{
	position: absolute;
	left: 10px;
	top: 20px;
	color: #2f8ecb;
}
.reviews-block .reviews-list .review-item p.review-text .quote strong {
	font-weight: bold;
}
.reviews-block .reviews-list .review-item p.answer {
	/*display: none;*/
	cursor: pointer;
}

.reviews-block .reviews-list .review-item:hover p.answer {
	/*display: block;*/
}

.reviews-block .reviews-list .stars i{
	font-size: 20px;
	color: #d9d9d9;
}
.reviews-block .reviews-list .stars i.active{
	color: #ffca29;
}

/* informer right sidebar */
.raiting-informer{
	border-top: 2px solid #2b8cca;
	background: #f5f5f5;
	padding: 15px 10px 10px;
	margin-bottom: 30px;
	width: 100%;
}

.raiting-informer .raiting-item-name{
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 10px;
}

.raiting-informer .informer-price table{
	width: 100%;
}
.raiting-informer .informer-price table tr{
	background: #fff;
}
.raiting-informer .informer-price table tr td{
	border-top: 4px solid #f5f5f5;
	border-bottom: 4px solid #f5f5f5;
	padding: 5px;
	font-size: 13px;
}
.raiting-informer .informer-price table tr td:first-child{
	text-transform: uppercase;
}
.raiting-informer .informer-price table tr td+td{
	text-align: right;
}
.raiting-informer .informer-price table tr td+td+td{

}

#feedback{
	min-width: 320px;
}
#feedback form .form-title .zagl{
	font-size: 18px;
	text-align: center;
	float: none;
	margin-bottom: 0;
}

/*.raiting-informer li.informer-average{
	position: relative;
}

.raiting-informer li.informer-average,
.raiting-informer li.informer-average ul,
.raiting-informer li.informer-average ul li{
	overflow: hidden;
}

.raiting-informer li.informer-average a.rating-control{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

.raiting-informer li.informer-average div p{
	font-size: 12px;
	font-weight: bold;
	padding: 2px 10px;
}

.raiting-informer li.informer-average div p.raiting-item-name{
	width: 40%;
	float: left;
}

.raiting-informer li.informer-average div p.raiting-item-price{
	width: 40%;
	float: left;
}

.raiting-informer li.informer-average div p.arrow-indicator{
	width: 19%;
	font-size: 18px;
	clear: both;
}

.raiting-informer li.informer-average ul{
	width: 85%;
	margin: 0 auto;
}

.raiting-informer li.informer-average ul li p{
	font-size: 11px;
	font-weight: normal;
}

.raiting-informer li.informer-average ul li p.arrow-indicator{
	font-size: 16px;
}*/

/* item list */
.content-wrapper .page-title-filter {
	position: relative;
	padding: 0;
}
.content-wrapper .page-title-filter h1{
	margin: 0;
	padding-right: 25px;
}

.content-wrapper .page-title-filter .filter-button{
	position: absolute;
	padding: 0 5px;
	right: 0;
	top: 0;
	cursor: pointer;
}
.content-wrapper .page-title-filter .filter-button img{
	width: 18px;
	height: auto;
}

.item-list .element-item{
	border: 1px solid #eaeaea;
	margin-bottom: 20px;
	display: flex;
	display: -webkit-flex;
	-webkit-box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
	-moz-box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
	box-shadow: 0 2px 3px 2px rgba(235, 235, 235, 1);
}
.item-list .element-item .item-image{
	text-align: center;
	padding: 15px;
}
.item-list .element-item .item-image img{
	max-width: 100%;
}

.item-list .element-item .item-addinfo{
	padding: 15px;
	border-left: 1px solid #eaeaea;
}
.item-list .element-item .element-price {
	background: #9ecf58;
	font-size: 18px;
	font-weight: bold;
	border-radius: 2px;
	padding: 4px 8px 3px 7px;
	color: #fff;
	margin-bottom: 10px;
	display: inline-block;
}
.item-list .element-item .item-title {
	margin-bottom: 10px;
}
.item-list .element-item .item-title a{
	color: #666;
	font-size: 18px;
}
.item-list .element-item .item-title:first-letter {
	text-transform: uppercase;
}
.item-list .element-item .item-description{
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
	min-height: 60px;
}
.item-list .element-item .item-distance-date{
	font-size: 13px;
	color: #808080;
	position: absolute;
	bottom: 15px;
	right: 20px;
}
.item-list .element-item .item-distance-date .item-distance{
	float: left;
	padding: 2.3px 0 2.3px 25px;
	background: url(/bitrix/templates/moiogorod/images/catalog_icons/location_icon.png) no-repeat left center;
	margin: 0;
}
.item-list .element-item .item-distance-date .publication-date{
	float: right;
	padding: 2.3px 0;
	margin: 0;
}
/* end item list */


/* ad add */
.add-ad-form{
	padding-top: 15px;
}
.add-ad-form span.required{
	color: red;
}
.add-ad-form label.btn {
	margin-right: 10px;
	margin-bottom: 5px;
}
.add-ad-form label.btn input[type="radio"]{
	display: none;
}
.add-ad-form .bootstrap-select{
	width: 100% !important;
}
.add-ad-form textarea{
	resize: none;
}

.add-ad-form .points{
	display: none;
}

.add-ad-form .error-field{
	background: rgba(255, 24, 24, 0.16) none repeat scroll 0 0;
}

.add-ad-form #hint_item_type span {
  border-bottom: 1px dashed;
  color: #5cb85c;
  margin-right: 15px;
  font-size: 14px;
  padding-top: 5px;
  cursor: pointer;
  display: inline-block;
}

.bx-filter .bx-ui-slider-track-container{
	overflow: hidden;
}

.account-menu-header{
	background: #fff;
}