.section-menu-items li {
  display: inline-block;
}
.section-item {
  margin-bottom: 10px;
}
.section-menu {
  padding: 15px 0px;
  overflow: hidden;
  background-color: #ececec;
  margin-bottom: 20px;
}
.menu-close {
  display: none;
}
.mobile-menu-open {
  transform: translateX(360px);
  -moz-transform: translateX(360px);
  -ms-transform: translateX(360px);
  -webkit-transform: translateX(360px);
  -o-transform: translateX(360px);
}
.catalog-filter-wrapper {
  position: fixed;
  top: 0;
  right: -360px;
  min-height: 100%;
  background-color: #fff;
  z-index: 100;
  min-width: 320px;
  width: 320px;
  overflow: auto;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
}
.overlay {
  background: rgba(0, 0, 0, .7);
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .15s ease, opacity .2s ease;
  transition: visibility .15s ease, opacity .2s ease;
}
.overlay-visible {
  visibility: visible;
  opacity: 1;
}
.filter-open {
  transform: translateX(-360px);
  -moz-transform: translateX(-360px);
  -ms-transform: translateX(-360px);
  -webkit-transform: translateX(-360px);
  -o-transform: translateX(-360px);
}
.filter-close {
  cursor: pointer;
  font-size: 25px;
}
.filter-button {
  color: #47973f;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: right;
  padding: 5px 0px 5px 15px;
}
.filter-button i {
  font-size: 20px;
}
.item-list-wrapper {
  margin-top: 20px;
  overflow: hidden;
}
.item-list-wrapper .element-item .item-image {
  padding: 0;
}
/*.element-item {
  margin-bottom: 20px;
  width: 100%;
  overflow: hidden;
}
.element-item img {
  max-width: 100%;
  height: auto;
}
.element-item .item-addinfo .item-title {
  font-size: 14px;
  color: #337ab7;
  font-weight: bold;
  margin-bottom: 10px;
}
.element-item .item-addinfo .item-description {
  font-size: 13px;
}
.element-item .item-addinfo .element-price {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}*/
.catalog-control-buttons {
  overflow: hidden;
}
.back-button {
  padding-left: 0px;
}
.back-button i {
  font-size: 20px;
  padding: 3px 10px;
  background-color: #f5f5f5;
}
.back-button i:before {
  color: #2b8cca;
}
.item-list {
  padding-left: 0px;
}
.vip-advert-wrapper {
  padding-right: 0px;
}
.vip-advert .vip-description {
  font-size: 12px;
}
.detail-element-wrapper {
  overflow: hidden;
}
.item-info-block .item-vendor-phone .prevent-button button {
  border-radius: 0;
  padding: 3px 10px;
}
.item-info-block .item-detail-text {
  margin-top: 20px;
}
.item-info-block .item-detail-text .detail-content {
  font-size: 14px;
}
/*.title-informer-item {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
}
.informer-price {
  font-size: 13px;
}
.informer-price p {
  margin: 3px 0px;
  overflow: hidden;
}*/
.slide-controls-wrapper.two-pic .bx-wrapper {
  max-width: 165px !important;
}
.slide-controls-wrapper.more-two-pic .bx-wrapper {
  max-width: 100% !important;
}
.bx-wrapper {
  margin: 0px !important;
}
.detail-element-wrapper .item-info-block .item-price .item-auction {
  background-color: #ed793b;
}
.slide-controls-wrapper .bx-viewport {

}
.slide-controls-wrapper .bx-viewport li {
  width: 73px !important;
}
.bx-button-nav span {
  font-size: 35px;
}
.slide-controls-wrapper #slider-prev {

}
.slide-controls-wrapper #slider-next {
  text-align: right;
}
.account-settings-form .pencil-icon, .account-settings-form .checkmark-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.account-settings-form .checkmark-icon {
  display: none;
}
.bx-auth-reg table tbody tr:nth-child(4) {
  /*display: none;*/
}
.first-level-link .menu-item-arrow img {
  width: 15px;
  height: auto;
}
.rotate-180 i {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
}
.catalog-menu-mobile-wrapper {
  display: none;
}
.catalog-menu-mobile-wrapper .main-left-wrapper {
  padding-top: 0px;
}
.add-button-main {
  text-align: center;
  padding: 25px 0px;
}
.add-button-main a, .account-add-new a{
  background-color: #9ecf58;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
.add-button-main:hover a, .account-add-new:hover a {
  color: #fff;
  text-decoration: none;
}
/* Header */
.user-balance-header p,
.account-control-button p {
  display: inline-block;
}
.user-balance-header p.balance-title {
  font-size: 14px;
}
.user-balance-header p.balance-amount {
  font-size: 15px;
  color: #2b8cca;
  font-weight: bold;
}
.user-balance-header p.balance-amount span {
  color: #000;
  font-weight: normal;
}
.account-info-header-wrapper, .account-menu-header-control {
  display: inline-block;
}
.account-info-header-wrapper {
  max-width: 123px;
}
.user-info-header {
  line-height: 17px;
}
.user-info-header .user-name-header, .user-info-header .user-balance-header > p {
  margin-bottom: 0px;
}
.user-info-header .user-name-header {
  overflow: hidden;
  text-overflow: ellipsis;
}
.user-info-header .user-name-header > a {
  white-space: nowrap;
}
.account-menu-header-control {
  float: right;
}
.account-menu-header-control .account-arrow i {
  font-size: 9px;
  color: #2b8cca;
  padding: 13px 2px;
  cursor: pointer;
}
.account-menu-header-control .account-arrow {
  background-color: #F1F1F1;
  margin: 0px 0px 0px 25px;

}
.account-menu-header {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 1);
  -moz-box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 1);
  box-shadow: 1px 1px 5px 0px rgba(235, 235, 235, 1);
  position: absolute;
  right: 15px;
  width: 100%;
  top: 60px;
  display: none;
  z-index: 60;
}
.account-menu-header ul {
  margin-bottom: 0;
}
.account-control-main .bx-system-auth-form.logged:hover + .account-menu-header, .account-menu-header:hover {
  display: block;
}
.account-menu-header ul li {
  background: #fff;
  text-align: left;
  border-bottom: 1px solid #f1f1f1;
}
.account-menu-header ul li:last-child {
  border-bottom: 1px solid transparent;
}
.account-menu-header ul li:hover {
  border-bottom: 1px solid #2b8cca;
}
.account-menu-header ul li:hover a {
  text-decoration: none;
  color: #2b8cca;
}
.account-menu-header ul li a {
  font-size: 14px;
  color: #5f5f5f;
  display: block;
  padding: 5px 10px;
}
.account-control-button {
  margin: 8px 0px;
}
.account-control-button p.account-login {
  margin-right: 20px;
}
.account-control-button p a {
  font-size: 15px;
  color: #4c4c4c;
  text-transform: uppercase;
  font-weight: bold;
}
.account-control-button p a:hover {
  text-decoration: none;
  color: #2b8cca;
}
.menu-control-icon {
  background: url("/bitrix/templates/moiogorod/images/menu_mobile.png") no-repeat;
  background-size: 15px;
  background-color: #2b8cca;
  border: none;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 30px;
}
.account-control-mobile.logged a {
  background: url("/bitrix/templates/moiogorod/images/user_logged.png") no-repeat;
  background-size: 15px;
  background-color: #2b8cca;
  border: none;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  display: block;
}
.account-control-mobile.anonymous a {
  background: url("/bitrix/templates/moiogorod/images/user_anonymous.png") no-repeat;
  background-size: 15px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  display: block;
}
.add-button-mobile a {
  background: url("/bitrix/templates/moiogorod/images/add_mobile.png") no-repeat;
  background-size: 15px;
  background-color: #9ecf58;
  border: none;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  padding: 0;
}
.search-icon-mobile {
  background: url("/bitrix/templates/moiogorod/images/search_icon.png") no-repeat;
  background-size: 15px;
  background-color: #2b8cca;
  border: none;
  background-position: center;
  border-radius: 2px;
  overflow: hidden;
  height: 30px;
  width: 30px;
  padding: 0;
}
.mobile-button-wrapper {
  text-align: right;
}
.mobile-button-wrapper > div {
  margin-left: 10px;
}
.main-menu-tiles {
  margin: 30px 0px 0px 0px;
}
.mainmenu-element {
  -webkit-box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
  box-shadow: 0px 2px 3px 2px rgba(235, 235, 235, 1);
  margin-bottom: 30px;
}
.mainmenu-element .mainmenu-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
}
.mainmenu-element:hover {
  -webkit-box-shadow: 0px 2px 3px 2px rgba(190, 218, 236, 1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(190, 218, 236, 1);
  box-shadow: 0px 2px 3px 2px rgba(190, 218, 236, 1);
}
.mainmenu-element > a.mainmenu-link:hover {
  text-decoration: none;
}
.mainmenu-element .mainmenu-link {
  display: block;
  padding: 20px 40px;
  text-align: center;
}
.add-button-desktop {
  margin-bottom: 0px;
}
.account-control-desktop {
  padding: 25px 0px;
}
.mainmenu-element {
  min-height: 190px;
}
.main-left-item {
  padding: 5px 0px 3px 0px;
  border: 1px solid #f1f1f1;
  margin-bottom: 3px;
}
.main-left-item .catalog-menu-icon-small, .main-left-item .first-level-link,
.account-menu-mobile .account-menu-title, .account-menu-mobile .account-menu-image{
  display: inline-block;
}
.main-left-item .first-level-link a {
  font-size: 15px;
}
.main-left-wrapper {
  padding-top: 20px;
  /*padding: 10px;*/
}
.main-left-wrapper .first-item-title{
  padding: 10px;
  background: #2b8cca;
  color: #fff;
  margin-bottom: 3px;
  text-align: left;
}
.main-left-wrapper .main-left-item .catalog-menu-icon-small,
.account-menu-mobile .account-menu-image {
  width: 15%;
}
.account-menu-mobile .account-menu-image {
  width: 12%;
}
.main-left-wrapper .main-left-item .catalog-menu-icon-small img {
  width: 40px;
  margin-top: -9px;
}
.account-menu-mobile .account-menu-image img {
  width: 20px;
  margin-top: 0;
}
.main-left-wrapper .main-left-item .first-level-link,
.account-menu-mobile .account-menu-title{
  width: 83%;
}
.account-menu-mobile .account-menu-title {
  width: 86%;
}
.main-left-wrapper .main-left-item .first-level-link .main-left-section-link {
  display: inline-block;
  width: 85%;
  color: #000;
  text-decoration: none;
}
.main-left-item:hover, .main-left-item.current {
  border-bottom: 1px solid #2b8cca;
}
.main-left-item:hover .first-level-link .main-left-section-link {
  color: #2b8cca;
}
.main-left-wrapper .main-left-item .first-level-link .menu-item-arrow {
  display: inline-block;
  width: 9%;
}
.main-left-child {
  margin-left: 52px;
}
.main-left-child ul li.parent {
  padding: 3px 0px;
}
.main-left-child ul li.parent a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
}
.mobile-menu-header {
  overflow: hidden;
}
.mobile-menu-header .modile-menu-logo {
  width: 50%;
  float: left;
  padding: 10px 15px;
}
.mobile-menu-header .modile-menu-logo img {
  width: 90px;
}
.mobile-menu-header .mobile-menu-close {
  width: 50%;
  float: left;
  text-align: right;
}
.mobile-menu-header .mobile-menu-close i {
  font-size: 25px;
  /*padding: 13px 30px;*/
  padding: 13px 15px 13px 30px;
  cursor: pointer;
  color: #848484;
}
.filter-close i {
  font-size: 25px;
  padding: 15px;
  cursor: pointer;
  color: #848484;
}
/* Header End*/

/** Account **/
.account-menu {
  margin-top: 35px;
}
.account-menu li {
  border-bottom: 1px solid #f1f1f1;
}
.account-menu li:hover {
  border-bottom: 1px solid #337ab7;
}
.account-menu p {
  margin: 5px 0 5px;
}
.account-menu .account-menu-image {
  display: inline-block;
  margin-right: 10px;
}
.account-menu .account-menu-image i.fa-list-alt,
.account-menu-mobile .account-menu-image i.fa-list-alt {
  font-size: 19px;
  color: #3893cd;
  vertical-align: bottom;
}
.account-menu .account-menu-image i.fa-credit-card-alt,
.account-menu-mobile .account-menu-image i.fa-credit-card-alt {
  font-size: 15px;
  color: #3893cd;
}
.account-menu .account-menu-image i.fa-envelope,
.account-menu-mobile .account-menu-image i.fa-envelope {
  font-size: 19px;
  color: #3893cd;
  vertical-align: top;
}
.account-menu .account-menu-image i.fa-cog,
.account-menu-mobile .account-menu-image i.fa-cog {
  font-size: 22px;
  color: #3893cd;
  vertical-align: top;
}
.account-menu .account-menu-image i.fa-sign-out,
.account-menu-mobile .account-menu-image i.fa-sign-out{
  font-size: 20px;
  color: #3893cd;
}
.account-menu .account-menu-image img {
  width: 18px;
  margin-top: -3px;
}
.account-menu .account-menu-title {
  display: inline-block;
  width: 83%;
}
.account-menu .account-menu-title a {
  color: #333;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  width: inherit;
}
.account-menu .accoun-menu-arrow {
  display: inline-block;
  float: right;
}
.account-menu .accoun-menu-arrow i {
  color: #337ab7;
  font-size: 11px;

}
.account-element-wrapper {
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
}
.account-element-wrapper.active .element-head {
  background-color: #2b8cca;
  margin: 0px;
}
.account-element-wrapper.deactive .element-head {
  background-color: #f5f5f5;
  margin: 0px;
}
.account-element-wrapper .element-head p {
  margin: 0;
}
.account-element-wrapper .element-head p.pay-in {
  padding-right: 20px;
}
.account-element-wrapper.active .element-head p {
  color: #fff;
  font-size: 12px;
}
.account-element-wrapper.deactive .element-head .ismoderate-message {
  padding: 11px 0px 11px 20px;
  color: #000000;
  text-align: center;
}
.account-element-wrapper .element-head .refresh-duration {
  padding: 11px 0px 11px 20px;
}
.account-element-wrapper .element-head .pay-in {
  text-align: right;
}
.account-element-wrapper .element-head .pay-in span.pay-in-icon {
  background-image: url("/bitrix/templates/moiogorod/images/account_icon/coins_blue.png");
  width: 22px;
  height: 22px;
  display: inline-block;
  background-size: 16px;
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  border-radius: 4px;
  margin: 9px 10px 0px 0px;
}
.account-element-wrapper.deactive .advert-element-control .account-element-refresh i,
.account-element-wrapper.deactive .advert-element-control .account-element-edit i,
.account-element-wrapper.deactive .advert-element-control .account-element-delete i {
  color: #c2c2c2;
}
.account-element-wrapper .element-head .pay-in span.pay-in-text {
  float: right;
  padding: 13px 0px 9px 0px;
}
.account-element-wrapper .account-element-body p {
  display: inline-block;
  padding: 15px 20px;
  font-size: 16px;
  margin: 0;
}
.account-element-wrapper .account-element-body .account-element-price i {
  font-size: 13px;
  font-weight: normal;
}
.account-element-wrapper .account-element-body p.account-element-title {
  border-right: 1px solid #e8e8e8;
}
.account-element-wrapper .account-element-body p a {
  color: #333;
}
.account-element-wrapper .account-element-body {
  margin: 0;
  border-bottom: 1px solid #e8e8e8;
}
.account-element-wrapper .advert-element-control {
  margin: 0;
  padding: 10px 5px;
}
.account-element-wrapper .advert-element-control a {
  color: #000;
  font-size: 12px;
}
.account-element-wrapper .advert-element-control p {
  margin: 0;
}
.account-element-wrapper .advert-element-control i {
  padding-right: 5px;
  font-size: 17px;
  color: #2b8cca;
}
.account-element-wrapper .account-element-image img {
  width: 100%;
  height: auto;
}
.advert-visibility {
  text-align: right;
}
.account-add-new a {
}
.account-add-new {
  margin: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  border: 1px dashed #e8e8e8;
}
.curren-balance.row {
  margin: 0;
}
.curren-balance > p {
  display: inline-block;
  margin: 0;
}
.curren-balance .balance-title {
  background-color: #2c8cc9;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
  padding: 9px 15px;
  border-radius: 2px 0px 0px 2px;
}
.curren-balance .balance-amount {
  background-color: #f3f3f3;
  padding: 6px 15px;
  font-size: 20px;
  text-align: right;
}
.account-balance-wrapper .add-balance {
  overflow: hidden;
  margin-top: 20px;
  -webkit-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
}
.account-balance-wrapper .add-balance p {
  margin: 0;
}
.account-balance-wrapper .add-balance .add-balance-button {
  padding: 20px 15px;
  text-align: right;
}
.account-balance-wrapper .add-balance .add-balance-button a{
  background-color: #9ecf58;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;

  text-decoration: none;
  cursor: pointer;
}
.account-balance-wrapper .add-balance input {
  border: 1px solid #f1f1f1;
  padding: 6px 10px;
  margin: 0px 10px;
  width: 70px;

}
.adding-balance-input {
  padding: 20px 15px;
}
.adding-balance-input span {
  color: #999999;
}
.account-menu-mobile {
  padding: 10px;
}
.account-menu-mobile ul.left-menu li {
  padding: 8px 10px;
  border-bottom: 1px solid #f1f1f1;
}
.account-menu-mobile ul.left-menu li a {
  display: inline-block;
  width: 85%;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
.account-menu-image, .account-menu-title {
  margin: 0;
}
.account-settings-form {
  padding: 20px;
  text-align: center;
}
.account-settings-form input[type='text'] {
  width: 85%;
  border: none;
  padding: 7px 15px 7px 50px;
  font-size: 15px;
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,1);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,1);
  box-shadow: inset 0px 0px 4px 0px rgba(214,214,214,1);
}
.account-settings-form .form-buttons {
  display: inline-block;
  width: 13%;
  text-align: left;
}
.account-settings-form .form-buttons i {
  font-size: 20px;
  padding-left: 10px;
  cursor: pointer;
  color: #929292;
}
.account-settings-form .form-input i {
  position: absolute;
  font-size: 20px;
  color: #fff;
  padding: 7px 10px;
  background-color: #2b8cca;
  min-width: 40px;
}
.account-settings-form .form-input i.fa-id-card {
  font-size: 18px;
  padding: 8.5px 10px;
}
.account-settings-form input[readonly="readonly"], .account-settings-form input[disabled="disabled"] {
  background-color: #e6e6e6;
  color: #8a8a8a;
}
.account-settings-form input[type="submit"] {
  background-color: #9ecf58;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.account-settings-form .form-submit {
  margin-top: 20px;
}
.accoun-settings-wrapper .account-settings-form {
  display: none;
}
.accoun-settings-wrapper .account-settings-form.visible {
  display: block;
}
.settings-border-shadow {
  -webkit-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
}

.tabs-wrapper {
}
.tabs-wrapper p {
  display: inline-block;
  text-align: center;
  border: 1px solid #ebebeb;
  margin-bottom: 0;
  padding: 0;
}
.tabs-wrapper p.active {
  background-color: #9ecf58;
}
.tabs-wrapper p.active a {
  color: #fff;
}
.tabs-wrapper p a{
  display: inline-block;
  width: 100%;
  padding: 8px;
  text-decoration: none;
  font-size: 15px;
}
.form-horizontal .form-group .btn-success {
  border-radius: 2px;
  background-color: #9ecf58;
  border-color: #9ecf58;
}
.form-horizontal .form-group .btn-default {
  border-radius: 2px;
}
.form-horizontal .form-group .field img {
  max-width: 320px;
  height: auto;
  margin-bottom: 20px;
}
.search-global-mobile {
  display: none;
}
.banner-right {
  border: 1px solid red;
}
.popup-wrapper {
  min-width: 320px;
}
.popup-wrapper .mess-in, .popup-wrapper .mess-out {
  padding: 5px 10px;
}
.popup-wrapper .mess-in{
  background-color: #efefef;
}
.popup-wrapper .mess-out {
  background-color: #2b8cca;
  color: #fff;
}
.answer-block {
  margin-top: 20px;
  text-align: right;
}
.answer-block textarea {
  width: 100%;
  resize: vertical;
  padding: 5px;
}
.answer-block button {
  background-color: #9ecf58;
  color: #fff;
  padding: 7px 20px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 5px;
}
/** End Account **/

/** Smart filter **/
.bx-filter .bx-filter-parameters-box .bx-filter-block {
  display: block !important;
}
.custom-sorting-button {
  margin-bottom: 20px;
}
.custom-sorting-button .geoposition-button {
  padding: 6px 0px;
}
.custom-sorting-button p, .custom-sorting-button p a {
  color: #fff;
  width: 100%;
  background-color: #2b8cca;
  padding: 3px 0px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  display: block;
}
.custom-sorting-button p {

}
.catalog-filter-wrapper .bx-filter.bx-blue .bx-filter-section {
  background-color: transparent;
}
.catalog-filter-wrapper .bx-filter-parameters-box-container .checkbox {
  margin-bottom: 5px;
}
.catalog-filter-wrapper .bx-filter-parameters-box-container .bx-left {
  padding-left: 0;
}
.catalog-filter-wrapper .bx-filter-parameters-box-container .bx-right {
  padding-right: 0;
}
.catalog-filter-wrapper .bx-filter-input-container input[type="text"] {
  height: 30px;
  font-size: 16px;
}
.catalog-filter-wrapper .bx-filter-button-box input[type="submit"] {
  background-color: #9ecf58;
  border: none;
  border-radius: 2px;
}
.catalog-filter-wrapper .bx-filter-button-box input[type="submit"]:hover {
  background-color: #9ecf58;
}
.catalog-filter-wrapper .bx-filter-button-box {
  text-align: center;
  margin-top: 10px;
}
/** End Smart filter **/

/** Login/registration form **/
.bx-system-auth-form.account-page {
  overflow: hidden;
  margin-top: 20px;
}
.bx-auth-reg {
  margin: 20px 0px 0px 0px;
}
.enter-button, .register-button a, input[name="register_submit_button"] {
  background-color: #9ecf58;
  color: #fff;
  padding: 6px 20px;
  border-radius: 2px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.bx-auth-reg input[name="register_submit_button"] {
  border: none;
  width: 135px;
  padding: 7px 0px;
  margin-top: 15px;
}
.register-button a {
  background-color: #2b8cca;
  padding: 7px 20px;
}
.register-button:hover a {
  text-decoration: none;
  color: #fff;
}
.register-button {
  text-align: center;
}
.bx-auth-reg input {
  width: 80%;
  padding: 5px 10px;
  border: 2px solid #ececec;
  margin: 0 auto;
}
.bx-auth-reg table {
  border-collapse: separate;
  border-spacing: 0px 12px;
  text-align: center;
}
.bx-auth-reg .or-line {
  margin: 5px 0px 15px;
}
.bx-auth-reg table, .bx-auth-reg table tr, .bx-auth-reg table td {
  width: 100%;
}
.bx-auth-reg .button-login .enter-button {
  background-color: #2b8cca;
  text-decoration: none;
  color: #fff;
}
.bx-auth-reg .button-login {
  text-align: center;
}
.messages-list {
  -webkit-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  -moz-box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  box-shadow: 0px 2px 3px 2px rgba(235,235,235,1);
  padding-top: 5px;
  overflow: hidden;
}
.messages-list li {
  border-bottom: 1px solid #f1f1f1;
  cursor: pointer;
}
.messages-list li:hover {
  border-bottom: 1px solid #337ab7;
}
.messages-list li div, .messages-list li p {
  padding-top: 2px;
  padding-bottom: 2px;
}
.messages-list li p {
  margin-bottom: 0;
}
.messages-list li div .message-text,
.messages-list li div .sender-name{
  text-overflow: ellipsis;
  overflow: hidden;
  padding-right: 0;
}
.messages-list .message-text span,
.messages-list .sender-name span {
  white-space: nowrap;
}
.messages-list .message-remove {
  text-align: center;
}
.messages-list .message-date {
  text-align: right;
}
.messages-list .message-remove i {
  font-size: 16px;
}
.messages-list .message-remove i:hover {
  color: red;
}
.messages-list li.message-unread[data-isread="0"] {
  font-weight: bold;
}
.no-messages {
  margin: 10px 0;
  text-align: center;
}
/** End login/registration form **/
.fancybox-skin {
  background-color: #fff !important;
  border-radius: 2px !important;
}

/*redeclare template.css style*/

/* END redeclare template.css style*/

/*
Standart box shadow

-webkit-box-shadow: 1px 1px 5px 0px rgba(235,235,235,1);
-moz-box-shadow: 1px 1px 5px 0px rgba(235,235,235,1);
box-shadow: 1px 1px 5px 0px rgba(235,235,235,1);

*/